
<div class="container">

    <div class="card-deck">
        <div class='container' [dragula]='"first-bag"'>
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">1</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        </div>  
      
        <div class='container' [dragula]='"first-bag"'>
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">2</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        </div>

        <div class='container' [dragula]='"first-bag"'>
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">3</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        </div>
      </div>


    <div style="clear:both; margin: 20px;"></div>
    <div class='wrapper'>
      <div class='container' [dragula]='"first-bag"'>
        <div style="background-color: cornflowerblue;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dignissim commodo efficitur. Proin eget quam sit amet nisi mattis tristique sed eget diam. Sed tempus ullamcorper nisi, eget efficitur ipsum iaculis et. Maecenas condimentum eros lacus, porttitor ullamcorper orci maximus in. Vivamus eget ligula neque. Suspendisse efficitur lacus et diam ornare, non hendrerit risus feugiat. Quisque ac neque sit amet lorem tincidunt maximus a ut leo.</div>
      </div>

      <div class='container' [dragula]='"first-bag"'>
        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dignissim commodo efficitur. Proin eget quam sit amet nisi mattis tristique sed eget diam. Sed tempus ullamcorper nisi, eget efficitur ipsum iaculis et. Maecenas condimentum eros lacus, porttitor ullamcorper orci maximus in. Vivamus eget ligula neque. Suspendisse efficitur lacus et diam ornare, non hendrerit risus feugiat. Quisque ac neque sit amet lorem tincidunt maximus a ut leo.</div>
      </div>

      <div class='container' [dragula]='"second-bag"'>
        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dignissim commodo efficitur. Proin eget quam sit amet nisi mattis tristique sed eget diam. Sed tempus ullamcorper nisi, eget efficitur ipsum iaculis et. Maecenas condimentum eros lacus, porttitor ullamcorper orci maximus in. Vivamus eget ligula neque. Suspendisse efficitur lacus et diam ornare, non hendrerit risus feugiat. Quisque ac neque sit amet lorem tincidunt maximus a ut leo.</div>
      </div>

      <div class='container' [dragula]='"second-bag"'>
        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dignissim commodo efficitur. Proin eget quam sit amet nisi mattis tristique sed eget diam. Sed tempus ullamcorper nisi, eget efficitur ipsum iaculis et. Maecenas condimentum eros lacus, porttitor ullamcorper orci maximus in. Vivamus eget ligula neque. Suspendisse efficitur lacus et diam ornare, non hendrerit risus feugiat. Quisque ac neque sit amet lorem tincidunt maximus a ut leo.</div>
      </div>

      <div class='container' [dragula]='"second-bag"'>
        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dignissim commodo efficitur. Proin eget quam sit amet nisi mattis tristique sed eget diam. Sed tempus ullamcorper nisi, eget efficitur ipsum iaculis et. Maecenas condimentum eros lacus, porttitor ullamcorper orci maximus in. Vivamus eget ligula neque. Suspendisse efficitur lacus et diam ornare, non hendrerit risus feugiat. Quisque ac neque sit amet lorem tincidunt maximus a ut leo.</div>
      </div>
                
  </div>

</div>


